<div class="wrapper content">
	<div class="close" onclick="$.vr.protocol.hide();"></div>
	<div class="body">
		<div class="login-h">7VR用户使用协议</div>
		<div class="context">
			<p>1. 特别提示</p>
			<p>1.1 北京金山数字娱乐科技有限公司、成都金山数字娱乐科技有限公司及其关联公司（以下统 称为"金山"）同意按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务（以 下称"网络服务"），为获得网络服务，服务使用人（以下称"用户"）应当同意本协议的全部条 款并按照页面上的提示完成全部的申请程序。用户在进行申请程序过程中选择"同意"按钮即表 示用户完全接受本协议项下的全部条款。
			</p>
			<p>2. 服务内容</p>
			<p>2.1 金山网络服务的具体内容由金山根据实际情况提供，例如网络游戏、商城、博客(BLOG)、 论坛(BBS)、聊天室、电子邮件、发表新闻评论、WPS OFFICE在线存储服务等。金山保留随时 变更、中断或终止部分或全部网络服务的权利。
			</p>
			<p>2.2 金山在提供网络服务时，可能会对部分网络服务（例如在线杀毒）的用户收取一定的费用 。在此情况下，金山会在相关页面上做明确的提示。如用户拒绝支付该等费用，则不能使用相 关的网络服务。
			</p>
			<p>2.3 用户理解，金山仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如电脑、 调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费 及上网费）均应由用户自行负担。
			</p>

			<p>2.4 如果用户希望使用金山旗下任一网站提供的论坛服务时，用户还需要接受《论坛服务用户 使用协议》。
			</p>

			<p>2.5 金山有可能针对某项服务添加相关特别约定或服务协议，届时用户接受该项服务的前提为 同意该项服务所附带的所有法律文件，包括但不限于本网络服务使用协议及专项服务协议。
			</p>
			<p>3. 使用规则</p>
			<p>3.1 用户在申请使用金山网络服务时，必须向金山提供准确的个人资料，如个人资料有任何变 动，必须及时更新。
			</p>

			<p>3.2 用户申请成功后，金山将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由 用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。如若有任何第三 方向本公司发出指示，在确认其提供账户、密码信息准确的情况下，用户同意且本公司有权 视为该行为获得了用户的充分授权，该行为所产生结果直接归属于用户本身。若因为用户自 身原因，而导致帐号、密码遭他人非法使用时，金山将不负责处理。用户自身原因包括但不限 于：任意向第三者透露帐号和密码及所有注册资料；多人共享同一个帐号；安装非法或来路 不明的程序等。
			</p>

			<p>3.3 用户必须同意接受金山通过电子邮件或其他方式向用户发送金山或其合作伙伴的商品促销 或其他相关商业信息。
			</p>
		</div>
	</div>
</div>